@{
    Layout = "_Layout";  // Usar el layout para usuarios autenticados
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Has iniciado sesión correctamente.</p>
</div>